@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body{
	width: 100%;
	height: 100%;
    font-family: 'Poppins', sans-serif;
    color: black;
	background-color: rgb(197, 197, 197);
    scroll-behavior: smooth;
}
.navbar{
	padding: 0.5rem;
}
.navbar-nav li{
    padding-right: 15px;
}
.nav-link:hover::first-letter{
	border-bottom: chocolate 2px solid;
}
.fa-pencil-ruler{
	color: rgb(14, 10, 51);
	font-size: 2rem;
}
.padding{
    padding-top: 3rem;
}
.intro h4{
    color: blue;
}
.intro img{
    width: 100%;
    height: 100%;
}

@media(max-width:576){
    .container-fluid .row h2{
        font-size: 1.1rem;
    }
    .container-fluid .row h3{
        font-size: .9rem;
    }
    .container-fluid .row h4{
        font-size: .8rem;
    }
}